.about-container {
  width: 100%;
  height: 1196px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.images-bg {
  background-image: url(../../../images/Group\ 34028.png);
  width: 196.67px;
  height: 264px;
  position: relative;
}
.pre-order-img-div {
  position: absolute;
  top: -200px;
}
.about-info-div p {
  font-size: 20px;
}
.about-subtitle {
  color: #0052cc;
}
.about-title {
  margin: 40px 0px;
}
.bg-color {
  width: 440px;
  height: 486px;
  background: #f1f6ff;
  border-radius: 32px;
}
.countup h1 {
  color: #0052cc;
  font-weight: 800;
}
.countup p {
  font-weight: 400;
  font-size: 24px;
  color: #4e4e4e;
}
