.about-info-div p {
  font-size: 20px;
}
.about-subtitle {
  color: #0052cc;
}
.about-title {
  margin: 40px 0px;
}
.countup h1 {
  color: #0052cc;
  font-weight: 800;
}
.countup p {
  font-weight: 400;
  font-size: 24px;
  color: #4e4e4e;
}
